---
import Container from "./ui/Container.astro";
import linkedin from "../assets/socials/linkedin.svg";
import email from "../assets/socials/email.png";
import github from "../assets/socials/github.png";
---
<Container>
  <div class="mt-28 pb-10 flex flex-wrap justify-between text-sm">
    <div class="flex items-center gap-2">
      <span class="text-lg">&copy;</span> Shaun Wan {new Date().getFullYear()}
    </div>
    <div class="flex items-center mt-3 md:mt-0 gap-3">
      Connect via
      <a href="https://www.linkedin.com/in/shaun-wan" target="_blank">
        <img src={linkedin.src} height="25" width="25" alt="Linkedin"/>
      </a>
      <a href="https://github.com/shaun-wan" target="_blank">
        <img src={github.src} height="25" width="25" alt="Github"/>
      </a>  
      <a href="mailto:shaun.wan.cy@gmail.com" target="_blank">
        <img src={email.src} height="25" width="25" alt="Email"/>
      </a>
    </div>
    <div class="flex items-center gap-2 justify-center md:justify-end w-full md:w-auto mt-12 md:mt-0">
      Built with
      <span class="text-secondary">
        <a href="https://astro.build/" target="_blank">Astro</a>
      </span>
    </div>
  </div>
</Container>